<a href="http://opencloudconsortium.org/"><img style="vertical-align:middle" src="/static/occ_logo_sm.png" alt="Open Cloud Consortium"></a>
<img style="vertical-align:middle" src="/static/dashboard/img/divider.png" alt="divider">
<span>
    <a href="http://www.opensciencedatacloud.org/"><img style="vertical-align:middle" src="/static/osdc_logo_sm.png" alt="Open Science Data Cloud"></a>
</span>
<span>
    <img style="vertical-align:middle" src="/static/dashboard/img/divider.png" alt="divider">
</span>
<span>
    <a href="http://www.igsb.anl.gov/"><img style="vertical-align:middle" src="/static/IGSB_sm.png" alt="Institute for Genomics and Systems Biology"></a>
</span>
<span>
  <img style="vertical-align:middle" src="/static/dashboard/img/divider.png" alt="divider">
</span>
<span>
    <a href="http://www.uchicago.edu/"><img style="vertical-align:middle" src="/static/dashboard/img/uchicago.png" alt="University of Chicago"></a>
</span>
<span>
    and our <a href="https://www.opensciencedatacloud.org/sponsors/"> sponsors.</a>
</span>

