<textarea id ="bibtex_input" style="display:none;">
\title{OSDC Supported Publications}

\begin{document}


\maketitle

\section{Accepted Publications and Presentations}

\begin{enumerate}

\item Rob Arthur, White Lab \url{http://genome.cshlp.org/content/24/7/1115.abstract} \cite{Arthur2014}.

\item David Bamman, sociolinguistics \url{http://dx.doi.org/10.1111/josl.12080} \cite{Bamman2014a}.

\item David Bamman, \url{http://www.aclweb.org/anthology/P/P14/P14-2134} \cite{Bamman2014b}

\item David Blair paper in press \url{http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1003799} \cite{Blair2014}.

\item Cody Buntain SC14 poster (PIRE) \cite{Buntain2014}.

\item Justin Cassidy, White Lab \url{http://dx.doi.org/10.1016/j.cell.2013.10.057} \cite{Cassidy2013}.

\item Sergio Contrino (Marc Perry) \cite{Contrino2012}.

\item Davis (Peter Park) \cite{Davis2014}.

\item Thea Egelhofer (Marc Perry) \cite{Egelhofer2011}.

\item Jacob Eisenstein, arXiv paper accompanying NIPS 2012 workshop on Social Media \url{http://snap.stanford.edu/social2012/#posters} \cite{Eisenstein2012}.

\item Encode paper (Lijia Ma) \cite{Encode2012}.

\item Rosa Filgueira (Alex Moreno, PIRE) \cite{Filgueira2014}.

\item Wenxuan Gao thesis, data intensive computing \url{http://hdl.handle.net/10027/18802} \cite{Gao2014}.

\item Aaron Gerow EMNLP proceedings 2014 \url{http://emnlp2014.org/papers.html} \cite{Gerow2014a}.

\item Aaron Gerow accepted "The Modular Community Structure of Linguistic Predication Networks" \url{http://www.textgraphs.org/ws14} \cite{Gerow2014b}

\item Mark Gerstein (Marc Perry) \cite{Gerstein2010}.

\item Eric Griffis (PIRE) \cite{Griffis2013}.

\item Robert Grossman OSDC paper \url{http://doi.ieeecomputersociety.org/10.1109/SC.Companion.2012.12} \cite{Grossman2012}.

\item Allison Heath Bionimbus paper \url{http://jamia.bmj.com/content/early/2014/01/24/amiajnl-2013-002155.abstract} \cite{Heath2014}.

\item Vasanth Iyer, thesis \url{http://digitalcommons.fiu.edu/dissertations/AAI3608724} \cite{Iyer2013}.

\item Aashish Jha talk at High Altitude and Cold: Adaptation to Extremes 2012 conference (no proceedings?) \url{http://mega.bioanth.cam.ac.uk/conf/extreme/} \cite{JhaTalka}.

\item Aashish Jha talk at Sensing and Signaling of Hypoxia: Interfaces with Biology and Medicine Conference (no proceedings?) \url{https://www.keystonesymposia.org/14A1} \cite{JhaTalkb}

\item Aashish Jha talk at 55th Annual Drosophila Research Conference 2014 (no proceedings?)\url{http://www.genetics-gsa.org/drosophila/cgi-bin/dros14SOEmob.pl?d=2014-03-28&s=sess107} \cite{JhaTalkc}

\item Ralf Kittler (Lijia Ma) \cite{Kittler2013}.

\item SG Landt (from Marc Perry's modEncode papers list) \url{http://www.ncbi.nlm.nih.gov/pubmed/22955991} \cite{Landt2012}.

\item UnJin Lee \url{http://dx.doi.org/10.1371/journal.pone.0082125} \cite{Lee2013}.

\item Megan McNerney paper on gene CUX1, a tumor suppressor, frequently inactivated
in acute myeloid leukemia \url{http://bloodjournal.hematologylibrary.org/content/121/6/975.abstract} \cite{McNerney2013}.  

\item Josh Miller's Supercomputing 2013 UDT poster \url{http://sc13.supercomputing.org/sites/default/files/PostersArchive/spost120.html} \cite{Miller2013}.

\item modEncode \cite{modEncode2010}.

\item N. Negre (Lijia Ma) \cite{Negre2011}.

\item V Rajendran (Jan Schnupp group) \cite{Rajendran2014a}.

\item V Rajendran (Jan Schnupp group) \cite{Rajendran2014b}.

\item Matthew Slattery, (Lijia Ma) White Lab \url{http://genome.cshlp.org/content/24/7/1224.abstract} \cite{Slattery2014}.

\item Binhua Tang book chapter in Statistical Diagnostics for Cancer \url{http://dx.doi.org/10.1002/9783527665471.ch9} \cite{Tang2013}.

\item Quang M Trinh (from Marc Perry's modEncode papers list) \url{http://www.biomedcentral.com/1471-2164/14/494/abstract} \cite{Trinh2013}.

\item Nicole Washington (Marc Perry) \cite{Washington2011}.

\item Shi Yu, natural language processing \url{http://www.aaai.org/Library/Symposia/Fall/fs12-05.php} \cite{Yu2012}.

\item Yuan Zhao SC 14 poster (PIRE) \cite{Zhao2014}.

\end{enumerate}



\section{Unpublished (forthcoming, submitted, or in prep to watch out for)}

\begin{enumerate}

\item David Bamman forthcoming Bamman, David and Noah Smith, "Unsupervised Discovery of Biographical Structure in Text," Transactions of the ACL (forthcoming, 2014) \cite{BammanSubmitted}

\item Chai Bandlamudi thesis in prep Gene Fusions in Cancer %\cite{BandlamudiInPrep}

\item David Blair in prep Working Title: Decomposing the Spectrum of Human Disease Phenotypes

\item Nathaniel Butler (not accepted?) (Michael Lewis, PIRE) Nathaniel Butler, Michael Lewis, Fernando Redigolo, Dino Magri, Tereza Cristina Carvalho, Heidi Alvarez.  Submission for The International Conference for High Performance Computing, Networking, Storage, and Analysis (SC14).  Title: " Experience With Data Transfer Applications Between OSDC and USP Science DMZ"  

\item Jacob Eisenstein submitted June 2014 (Eisenstein, Jacob and O'Connor, Brendan and Smith, Noah A. and Xing, Eric P., "Diffusion of Lexical Change in Social Media", Manuscript submitted for publication to PLOS ONE %\cite{EisensteinSubmitted}.

\item Seth Flaxman submitted (can't find anywhere) %\cite{FlaxmanSubmitteda}.

\item Seth Flaxman submitted NIPS (not accepted? \url{http://nips.cc/Conferences/2014/Program/accepted-papers.php}) %\cite{FlaxmanSubmittedb}.

\item Aaron Gerow submitted (not accepted? \url{http://emnlp2014.org/papers.html}) %\cite{GerowSubmitted}.

\item Aaron Gerow? submitted "Community Structure of Linguistic Predication" to ACL 2014, (not accepted?)

\item Aaron Gerow? submitted abstract for presentation at New Directions in Analyzing Text as Data Conference "Networks in Natural Language: Named Entity Co-occurrences in Diachronic Corpora"

\item Hasham submitted (Khawar Ahmad), Khawar Hasham and Kamran Munir and Jetendr Shamdasani and Richard McClatchey, "Scientific Workflow Repeatability through Cloud-Aware Provenance," Submitted to Recomputability Workshop in conjunction with UCC %\cite{HashamSubmitted}.

\item Jha AR et al, Whole genome resequencing of experimental populations reveals polygenic basis of egg size variation in Drosophila melanogaster, PLoS Genetics (in revision)    

\item Jha AR et al, Convergent genetic architecture of hypoxia adaptation in Drosophila and in high altitude human populations, PLoS Genetics ( in preparation)

\item Michael Lewis (not accepted?) (PIRE) Michael Lewis, Karen Langona.  Using Large Scale Clustering To Detect Potential Fire Regions. International Conference for High Performance Computing, Networking , Storage and Analysis (SC13)

\item Brendan O'Connor, thesis forthcoming %\cite{OConnorSubmitted}.

\item Manish Sharma, forthcoming in Journal of Clinical Oncology \cite{SharmaAccepted}.

\item Feng Shi submitted, Shi and Foster and Evans "How Science Thinks: Dynamic hypergraph models of    science's unfolding structure" %\cite{ShiSubmitted}.

\item Feng Shi submitted "Weaving the Fabric of Science: Dynamic network models of  science's unfolding structure"  Feng Shi, Jacob G. Foster, and James A. Evans

\item Guy Telzur submitted (not sure title) Guy Tel-Zur  Ben-Gurion Univ.  Submitted to EduHPC14 workshop at SC14.

\item Orestis Tsinalis submitted (not sure where) (Nelson Auner, PIRE) "Personalized Conference Event and People Recommendation based on Real Time Social Dynamics Analysis," Orestis Tsinalis, Chao Wu, David Birch, Nelson Auner, Robert Grossman, Yike Guo

\end{enumerate}

%----------------------------------------------------------------------------------------
%   BIBLIOGRAPHY
%----------------------------------------------------------------------------------------

%\newpage

\bibliography{bib} % 
\bibliographystyle{plain} 
%\bibliographystyle{chicago} 
</textarea>
<div id="bibtex_display"></div>

<script src="{{STATIC_URL}}dashboard/js/bibtex_js.js" charset="utf-7"></script>
