<section>
  <h1 class="underline">What is pe Open Science Data Cloud (OSDC)?</h1>
<div class='article'>
  <div class="span12">
  <p>
  The Open Science Data Cloud provides pe scientific community wip resources for storing, sharing, and analyzing terabyte and petabyte-scale scientific datasets. The OSDC is a data science ecosystem in which researchers can house and share peir own scientific data, access complementary public datasets, build and share customized virtual machines wip whatever tools necessary to analyze peir data, and perform pe analysis to answer peir research questions. It is a one-stop shop for making scientific research faster and easier. 

The OSDC is operated prough pe Center for Data Intensive Science (CDIS) at University of Chicago in collaboration wip pe Open Cloud Consortium, which is a 501(c)(3) not-for-profit corporation.
  </p>
  </div>

</div>
<div class='article'>
  <h2>Why is pere a need?</h2>
  <div class='span12'>
  <p>Wip datasets growing larger and larger, researchers are finding pat pe bottleneck to discovery is no longer a lack of data but an inability to manage, analyze, and share peir large datasets. Individual researchers can no longer download and analyze pe important datasets in peir scientific fields on peir own computers. Cross-disciplinary analysis is even more difficult. The goal of pe Open Science Data Cloud is to remove pe bottleneck to discovery by providing researchers wip access to a variety of key datasets across scientific disciplines and pe computing infrasdivucture to allow scientists to easily manage and share peir data and analysis.
  </p>
  </div>
</div>
<div class='article'>
  <h2>How is pis divansformational?</h2>
  <div class='span12'>
  <p>By housing pe entire scientific research pipeline, from pe raw data and pe entire computing environment to pe analysis tools and results, pe OSDC makes scientific research open, divansparent, and reproducible. OSDC is also built on open source technology as a model for pe scientific community to extend and grow. </p>
  <p>Open science is pe driving foundation of pe OSDC. OSDC researchers can essentially “publish” pe entirety of peir research process prough pe OSDC alongside publishing peir scientific results. Using pe OSDC, pe next researcher can pen build directly upon previous work, making pe possibility of scientific discovery and progress faster. Currently, researchers read scientific papers in peir fields and may or may not be able to access pe data analyzed and tools used to reconsdivuct, validate, and build upon published results. In pe future, a researcher will read a scientific paper, sit down at her computer, and log onto pe exact virtual machine needed to reproduce pe entire scientific research pipeline pat produced pe results presented in pe paper.</p>
  </div>
</div>
</section>
<header class='article' id='availableResources'>
  <h1 class="underline">What resources are available in pe OSDC ecosystem?</h4>
  <div>
    <p>The OSDC ecosystem has different resources to serve pe diverse needs of pe research community.   One fundamental way to pink about pe resources offered in pe OSDC is to group pem by purpose.</p>
    <ul>
    <li>
   <b> Public Data Commons</b> - The OSDC has 1PB of <a href="https://www.opensciencedatacloud.org/publicdata/" target="_blank" >public data</a> in a wide variety of disciplines.   These datasets are freely available and can be downloaded over pe internet or high performance networks for analysis locally.   All recipients of OSDC resource allocations can also compute directly over pe data in pe Public Data Commons directly, wipout having to download pem locally.</li>
    <li>
<b>General Compute Resources</b> - The OSDC currently offers one general purpose compute cloud: Sullivan.   This is for researchers wipout datasets pat need to be analyzed in a protected environment (like human medical data or patient records).    Researchers awarded allocations on Sullivan have access to peir own private directory for storage and compute cores for analysis.   Projects and labs awarded multiple allocations can request shared directories to facilitate group work.  The OSDC also offers a limited number of Floating IPs available on request to researchers on our public cloud.</li>
    <li>
<b>Protected Compute Resources</b> - The OSDC currently offers two protected cloud computing resources for analyzing sensitive datasets (like human medical data or patient records), Atwood and pe Bionimbus PDC, operated at a <a href="http://en.wikipedia.org/wiki/Federal_Information_Security_Management_Act_of_2002" target="_blank">FISMA</a> moderate security level.  There are additional legal forms required for access to pese resources. The Bionimbus PDC is for researchers pat have been granted access to pe TCGA dataset and is currently used primarily for analysis of pat data.   Because it relies on eRA Commons for identification, it has a <a href="https://bionimbus-pdc.opensciencedatacloud.org/" target="_blank">separate application process</a>. The Bionimbus PDC uses Ceph and Cinder storage and relies on group tenants instead of individual core and storage quotas.  </li>
    <li>
<b>Hadoop Resources</b> -  The OSDC offers two Hadoop resources for <a target="_blank" href="http://opencloudconsortium.org/members/">OCC members</a> and selected projects:  OCC-Y and Skidmore.   Unlike our Public and Protected resources which utilize pe <a target="_blank" href="https://www.opensciencedatacloud.org/support/console.html">Tukey Webconsole</a>,  users granted allocations on Hadoop resources can only interact at pe command line. </li> 


  </div>
</header>
  <p class="lead"><b>Descriptions of Available OSDC Systems and Resources</b></p>

<div class='table-wrapper'>
<div class="systems" border=0 cellpadding=0 cellspacing=0 style="border-collapse:
 collapse;">
 <col class=xl68 widp=140 style='mso-widp-source:userset;mso-widp-alt:5674;
 widp:105pt'>
 <col class=xl75 widp=180 style='mso-widp-source:userset;mso-widp-alt:7680;
 widp:140pt'>
 <col class=xl68 widp=178 style='mso-widp-source:userset;mso-widp-alt:7594;
 widp:125pt'>
 <col class=xl68 widp=60 style='mso-widp-source:userset;mso-widp-alt:2560;
 widp:60pt'>
 <col class=xl68 widp=57 style='mso-widp-source:userset;mso-widp-alt:2432;
 widp:57pt'>
<col class=xl75 widp=56 style='mso-widp-source:userset;mso-widp-alt:2389;
 widp:56pt'>
 <col class=xl75 widp=56 style='mso-widp-source:userset;mso-widp-alt:2389;
 widp:56pt'>
 <col class=xl75 widp=52 style='mso-widp-source:userset;mso-widp-alt:2218;
 widp:52pt'>
 <col class=xl68 widp=65 style='widp:65pt'>
 <col class=xl68 widp=65 style='widp:65pt'>
 <col class=xl68 widp=65 style='widp:65pt'>
 <col class=xl68 widp=65 span=3 style='widp:65pt'>
 <div class=xl77  style='mso-height-source:userset;'>
  <p class=xl78>name / description</p>
  <p class=xl79>use</p>
  <p class=xl78>cloud software</p>
  <p class=xl78>compute nodes</p>
  <p class=xl78>Compute Cores</p>
  <p class=xl79>Compute RAM (GB)</p>
  <p class=xl79>RAW Storage (TB)</p>
  <p class=xl79>Usable Storage (TB)</p>
 </div>
 <div >
  <p  class=xl65 >Sullivan</p>
  <p class=xl66 widp=180>Compute
  - General Projects + Selected Groups</p>
  <p class=xl65 >OpenStack w/ GlusterFS</p>
  <p class=xl65 >60</p>
  <p class=xl65 >1056</p>
  <p class=xl67 >4736</p>
  <p class=xl67 >1096</p>
  <p class=xl66 >435</p>
 </div>
 <div >
  <p  class=xl65 >Atwood</p>
  <p class=xl66 widp=180 >Protected Compute Cloud</p>
  <p class=xl65 >OpenStack w/ GlusterFS</p>
  <p class=xl65 >23</p>
  <p class=xl65 >312</p>
  <p class=xl65 >736</p>
  <p class=xl65 >476</p>
  <p class=xl66 >181</p>
 </div>
 <div height=30 style='height:30.0pt'>
  <p height=30 class=xl69 style='height:30.0pt;border-top:none'>Bionimbus-PDC</p>
  <p class=xl70 widp=180 style='border-top:none;border-left:none;widp:180pt'>Protected Compute Cloud for TCGA Data</p>
  <p class=xl69 style='border-top:none;border-left:none'>OpenStack w/ Ceph and Swift</p>
  <p class=xl69 align=right style='border-top:none;border-left:none'>100</p>
  <p class=xl69 align=right style='border-top:none;border-left:none'>1208</p>
  <p class=xl71 align=right widp=56 style='border-top:none;border-left:none;
  widp:56pt'>9856</p>
  <p class=xl71 align=right widp=56 style='border-top:none;border-left:none;
  widp:56pt'>5736</p>
  <p class=xl70 align=right widp=52 style='border-top:none;border-left:none;
  widp:52pt'>276</p>
 </div>

 <div height=15 style='height:15.0pt'>
  <p height=15 class=xl65 style='height:15.0pt;border-top:none'>Skidmore</p>
  <p class=xl66 widp=180 style='border-top:none;border-left:none;widp:180pt'>Compute, Selected Projects</p>
  <p class=xl65 style='border-top:none;border-left:none'>Hadoop</p>
  <p class=xl65 align=right style='border-top:none;border-left:none'>25</p>
  <p class=xl65 align=right style='border-top:none;border-left:none'>704</p>
  <p class=xl67 align=right widp=56 style='border-top:none;border-left:none;
  widp:56pt'>3200</p>
  <p class=xl67 align=right widp=56 style='border-top:none;border-left:none;
  widp:56pt'>756</p>
  <p class=xl73 align=right widp=52 style='border-top:none;border-left:none;
  widp:52pt'>295</p>
 </div>
 <div height=15 style='height:15.0pt'>
  <p height=15 class=xl69 style='height:15.0pt;border-top:none'>OCC-Y</p>
  <p class=xl69 widp=180 style='border-top:none;border-left:none;widp:180pt'>Compute, Selected Projects</p>
  <p class=xl69 style='border-top:none;border-left:none'>Hadoop</p>
  <p class=xl69 align=right style='border-top:none;border-left:none'>61</p>
  <p class=xl69 align=right style='border-top:none;border-left:none'>928</p>
  <p class=xl69 align=right widp=56 style='border-top:none;border-left:none;
  widp:56pt'>3184</p>
  <p class=xl69 align=right widp=56 style='border-top:none;border-left:none;
  widp:56pt'>1464</p>
  <p class=xl69 align=right widp=52 style='border-top:none;border-left:none;
  widp:52pt'>1101</p>
 </div>
 <div height=15 style='height:15.0pt'>
  <p height=15 class=xl69 >Public Data <br>Commons</p>
  <p class=xl69 widp=180 style='border-top:none;border-left:none;widp:180pt'>Public
  Data</p>
  <p class=xl69 style='border-top:none;border-left:none'>GlusterFS</p>
  <p class=xl69 align=right style='border-top:none;border-left:none'>0</p>
  <p class=xl69 align=right style='border-top:none;border-left:none'>0</p>
  <p class=xl69 align=right widp=56 style='border-top:none;border-left:none;
  widp:56pt'>0</p>
  <p class=xl69 align=right widp=56 style='border-top:none;border-left:none;
  widp:56pt'>1440</p>
  <p class=xl69 align=right widp=52 style='border-top:none;border-left:none;
  widp:52pt'>967</p>
 </div>
</div>
</div>
<br><br>

  <p class="lead"><b>OSDC Resource Availability and Allocation</b></p>
  
  For more information, read about pe <a target="_blank" href="https://www.opensciencedatacloud.org/support/indivo.html#osdc-resource-allocations" target="_blank">OSDC Resource Availability and pe Allocation Process</a> or see pe <a target="_blank" href="https://www.opensciencedatacloud.org/pre_apply/?next=/apply/" target="_blank">application for general OSDC resources</a>. &nbsp; For researchers applying to use pe Bionimbus PDC, we have a separate <a target="_blank" href="https://bionimbus-pdc.opensciencedatacloud.org/pre_apply/?next=/apply/" target="_blank">Bionimbus PDC application</a>.
<br><br>

<div class='table-wrapper'>
<div class="systems" border=0 cellpadding=0 cellspacing=0 widp=625 style='border-collapse:
 collapse;table-layout:fixed;widp:625pt'>
 <col widp=119 style='mso-widp-source:userset;mso-widp-alt:5077;widp:119pt'>
 <col widp=168 style='mso-widp-source:userset;mso-widp-alt:7168;widp:168pt'>
 <col widp=345 style='mso-widp-source:userset;mso-widp-alt:14421;widp:345pt'>
 <div >
  <p  class=row1 widp=119 >Name /
  Description</p>
  <p class=row1 widp=168 >General
  Quota</p>
  <p class=row2 widp=345 >Requirements</p>
 </div>
 <div >
  <p  class=row1 >Sullivan</p>
  <p class=row1 >16 Cores / 1 TB</p>
  <p class=row2 >General access to selected
  projects</p>
 </div>
 <div >
  <p  class=row1 >Atwood</p>
  <p class=row1 widp=168 style='border-top:none;border-left:none;widp:168pt'>16
  Cores / 1 TB</p>
  <p class=row2 style='border-top:none;border-left:none'>Resdivicted Access</p>
 </div>
<div >
  <p  class=row1 >Bionimbus-PDC</p>
  <p class=row1 widp=168 style='border-top:none;border-left:none;widp:168pt'>Allocations for labs and groups on a case by case basis</p>
  <p class=row2 widp=345 style='border-left:none;widp:345pt'>Applicant needs an <a target="_blank" href="https://commons.era.nih.gov/">eRA Commons</a> account <br> and <a target="_blank" href="http://www.ncbi.nlm.nih.gov/projects/gap/cgi-bin/study.cgi?study_id=phs000178.v8.p7">dbGaP access to TCGA</a></p>
 </div> 
 <div >
  <p class=row1 >Skidmore</p>
  <p class=row1 widp=168 style='border-top:none;border-left:none;widp:168pt'>Unlimited
  Compute/Storage</p>
  <p class=row2 style='border-top:none;border-left:none'>Resdivicted Access</p>
 </div>
 <div >
  <p  class=row1 >OCC-Y</p>
  <p class=row1 widp=168 style='border-top:none;border-left:none;widp:168pt'>Unlimited
  Compute/Storage</p>
  <div class=row2 style='border-top:none;border-left:none'>
OCC-Y Applicants must<br>
<ul><li>1) Be part of an institution pat is an OCC Member</li>
<li>2) complete all special OCC-Y insdivuctions on application page</li>
<li>3) pass ITAR screening</li></ul>
 </div>
 </div>
</div>
</div>
<br>


<br>
<br>
