<section>
  <h1 class="underline">What is the Open Science Data Cloud (OSDC)?</h1>
<div class='article'>
  <div class="span12">
  <p>
  The Open Science Data Cloud provides the scientific community with resources for storing, sharing, and analyzing terabyte and petabyte-scale scientific datasets. The OSDC is a data science ecosystem in which researchers can house and share their own scientific data, access complementary public datasets, build and share customized virtual machines with whatever tools necessary to analyze their data, and perform the analysis to answer their research questions. It is a one-stop shop for making scientific research faster and easier. 

The OSDC is operated through the Center for Data Intensive Science (CDIS) at University of Chicago in collaboration with the Open Cloud Consortium, which is a 501(c)(3) not-for-profit corporation.
  </p>
  </div>

</div>
<div class='article'>
  <h2>Why is there a need?</h2>
  <div class='span12'>
  <p>With datasets growing larger and larger, researchers are finding that the bottleneck to discovery is no longer a lack of data but an inability to manage, analyze, and share their large datasets. Individual researchers can no longer download and analyze the important datasets in their scientific fields on their own computers. Cross-disciplinary analysis is even more difficult. The goal of the Open Science Data Cloud is to remove the bottleneck to discovery by providing researchers with access to a variety of key datasets across scientific disciplines and the computing infrastructure to allow scientists to easily manage and share their data and analysis.
  </p>
  </div>
</div>
<div class='article'>
  <h2>How is this transformational?</h2>
  <div class='span12'>
  <p>By housing the entire scientific research pipeline, from the raw data and the entire computing environment to the analysis tools and results, the OSDC makes scientific research open, transparent, and reproducible. OSDC is also built on open source technology as a model for the scientific community to extend and grow. </p>
  <p>Open science is the driving foundation of the OSDC. OSDC researchers can essentially “publish” the entirety of their research process through the OSDC alongside publishing their scientific results. Using the OSDC, the next researcher can then build directly upon previous work, making the possibility of scientific discovery and progress faster. Currently, researchers read scientific papers in their fields and may or may not be able to access the data analyzed and tools used to reconstruct, validate, and build upon published results. In the future, a researcher will read a scientific paper, sit down at her computer, and log onto the exact virtual machine needed to reproduce the entire scientific research pipeline that produced the results presented in the paper.</p>
  </div>
</div>
</section>
<header class='article' id='availableResources'>
  <h1 class="underline">What resources are available in the OSDC ecosystem?</h4>
  <div>
    <p>The OSDC ecosystem has different resources to serve the diverse needs of the research community.   One fundamental way to think about the resources offered in the OSDC is to group them by purpose.</p>
    <ul>
    <li>
   <b> Public Data Commons</b> - The OSDC has 1PB of <a href="https://www.opensciencedatacloud.org/publicdata/" target="_blank" >public data</a> in a wide variety of disciplines.   These datasets are freely available and can be downloaded over the internet or high performance networks for analysis locally.   All recipients of OSDC resource allocations can also compute directly over the data in the Public Data Commons directly, without having to download them locally.</li>
    <li>
<b>General Compute Resources</b> - The OSDC currently offers one general purpose compute cloud: Sullivan.   This is for researchers without datasets that need to be analyzed in a protected environment (like human medical data or patient records).    Researchers awarded allocations on Sullivan have access to their own private directory for storage and compute cores for analysis.   Projects and labs awarded multiple allocations can request shared directories to facilitate group work.  The OSDC also offers a limited number of Floating IPs available on request to researchers on our public cloud.</li>
    <li>
<b>Protected Compute Resources</b> - The OSDC currently offers two protected cloud computing resources for analyzing sensitive datasets (like human medical data or patient records), Atwood and the Bionimbus PDC, operated at a <a href="http://en.wikipedia.org/wiki/Federal_Information_Security_Management_Act_of_2002" target="_blank">FISMA</a> moderate security level.  There are additional legal forms required for access to these resources. The Bionimbus PDC is for researchers that have been granted access to the TCGA dataset and is currently used primarily for analysis of that data.   Because it relies on eRA Commons for identification, it has a <a href="https://bionimbus-pdc.opensciencedatacloud.org/" target="_blank">separate application process</a>. The Bionimbus PDC uses Ceph and Cinder storage and relies on group tenants instead of individual core and storage quotas.  </li>
    <li>
<b>Hadoop Resources</b> -  The OSDC offers two Hadoop resources for <a target="_blank" href="http://opencloudconsortium.org/members/">OCC members</a> and selected projects:  OCC-Y and Skidmore.   Unlike our Public and Protected resources which utilize the <a target="_blank" href="https://www.opensciencedatacloud.org/support/console.html">Tukey Webconsole</a>,  users granted allocations on Hadoop resources can only interact at the command line. </li> 


  </div>
</header>
  <p class="lead"><b>Descriptions of Available OSDC Systems and Resources</b></p>


<table class="systems" border=0 cellpadding=0 cellspacing=0 style="border-collapse:
 collapse;">
 <col class=xl68 width=140 style='mso-width-source:userset;mso-width-alt:5674;
 width:105pt'>
 <col class=xl75 width=180 style='mso-width-source:userset;mso-width-alt:7680;
 width:140pt'>
 <col class=xl68 width=178 style='mso-width-source:userset;mso-width-alt:7594;
 width:125pt'>
 <col class=xl68 width=60 style='mso-width-source:userset;mso-width-alt:2560;
 width:60pt'>
 <col class=xl68 width=57 style='mso-width-source:userset;mso-width-alt:2432;
 width:57pt'>
<col class=xl75 width=56 style='mso-width-source:userset;mso-width-alt:2389;
 width:56pt'>
 <col class=xl75 width=56 style='mso-width-source:userset;mso-width-alt:2389;
 width:56pt'>
 <col class=xl75 width=52 style='mso-width-source:userset;mso-width-alt:2218;
 width:52pt'>
 <col class=xl68 width=65 style='width:65pt'>
 <col class=xl68 width=65 style='width:65pt'>
 <col class=xl68 width=65 style='width:65pt'>
 <col class=xl68 width=65 span=3 style='width:65pt'>
 <tr class=xl77 height=32 style='mso-height-source:userset;height:32.0pt'>
  <th class=xl78>Name / Description</th>
  <th class=xl79>Use</th>
  <th class=xl78>Cloud Software</th>
  <th class=xl78>Compute Nodes</th>
  <th class=xl78>Compute Cores</th>
  <th class=xl79>Compute RAM (GB)</th>
  <th class=xl79>RAW Storage (TB)</th>
  <th class=xl79>Usable Storage (TB)</th>
 </tr>
 <tr height=30 style='height:30.0pt'>
  <td height=30 class=xl65 style='height:30.0pt;border-top:none'>Sullivan</td>
  <td class=xl66 width=180 style='border-top:none;border-left:none;width:180pt'>Compute
  - General Projects + Selected Groups</td>
  <td class=xl65 style='border-top:none;border-left:none'>OpenStack w/ GlusterFS</td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>60</td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>1056</td>
  <td class=xl67 align=right width=56 style='border-top:none;border-left:none;
  width:56pt'>4736</td>
  <td class=xl67 align=right width=56 style='border-top:none;border-left:none;
  width:56pt'>1096</td>
  <td class=xl66 align=right width=52 style='border-top:none;border-left:none;
  width:52pt'>435</td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl65 style='height:15.0pt;border-top:none'>Atwood</td>
  <td class=xl66 width=180 style='border-top:none;border-left:none;width:180pt'>Protected Compute Cloud</td>
  <td class=xl65 style='border-top:none;border-left:none'>OpenStack w/ GlusterFS</td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>23</td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>312</td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>736</td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>476</td>
  <td class=xl66 align=right width=52 style='border-top:none;border-left:none;
  width:52pt'>181</td>
 </tr>
 <tr height=30 style='height:30.0pt'>
  <td height=30 class=xl69 style='height:30.0pt;border-top:none'>Bionimbus-PDC</td>
  <td class=xl70 width=180 style='border-top:none;border-left:none;width:180pt'>Protected Compute Cloud for TCGA Data</td>
  <td class=xl69 style='border-top:none;border-left:none'>OpenStack w/ Ceph and Swift</td>
  <td class=xl69 align=right style='border-top:none;border-left:none'>100</td>
  <td class=xl69 align=right style='border-top:none;border-left:none'>1208</td>
  <td class=xl71 align=right width=56 style='border-top:none;border-left:none;
  width:56pt'>9856</td>
  <td class=xl71 align=right width=56 style='border-top:none;border-left:none;
  width:56pt'>5736</td>
  <td class=xl70 align=right width=52 style='border-top:none;border-left:none;
  width:52pt'>276</td>
 </tr>

 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl65 style='height:15.0pt;border-top:none'>Skidmore</td>
  <td class=xl66 width=180 style='border-top:none;border-left:none;width:180pt'>Compute, Selected Projects</td>
  <td class=xl65 style='border-top:none;border-left:none'>Hadoop</td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>25</td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>704</td>
  <td class=xl67 align=right width=56 style='border-top:none;border-left:none;
  width:56pt'>3200</td>
  <td class=xl67 align=right width=56 style='border-top:none;border-left:none;
  width:56pt'>756</td>
  <td class=xl73 align=right width=52 style='border-top:none;border-left:none;
  width:52pt'>295</td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl69 style='height:15.0pt;border-top:none'>OCC-Y</td>
  <td class=xl69 width=180 style='border-top:none;border-left:none;width:180pt'>Compute, Selected Projects</td>
  <td class=xl69 style='border-top:none;border-left:none'>Hadoop</td>
  <td class=xl69 align=right style='border-top:none;border-left:none'>61</td>
  <td class=xl69 align=right style='border-top:none;border-left:none'>928</td>
  <td class=xl69 align=right width=56 style='border-top:none;border-left:none;
  width:56pt'>3184</td>
  <td class=xl69 align=right width=56 style='border-top:none;border-left:none;
  width:56pt'>1464</td>
  <td class=xl69 align=right width=52 style='border-top:none;border-left:none;
  width:52pt'>1101</td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl69 style='height:15.0pt;border-top:none'>Public Data <br>Commons</td>
  <td class=xl69 width=180 style='border-top:none;border-left:none;width:180pt'>Public
  Data</td>
  <td class=xl69 style='border-top:none;border-left:none'>GlusterFS</td>
  <td class=xl69 align=right style='border-top:none;border-left:none'>0</td>
  <td class=xl69 align=right style='border-top:none;border-left:none'>0</td>
  <td class=xl69 align=right width=56 style='border-top:none;border-left:none;
  width:56pt'>0</td>
  <td class=xl69 align=right width=56 style='border-top:none;border-left:none;
  width:56pt'>1440</td>
  <td class=xl69 align=right width=52 style='border-top:none;border-left:none;
  width:52pt'>967</td>
 </tr>
</table>
<br><br>

  <p class="lead"><b>OSDC Resource Availability and Allocation</b></p>
  
  For more information, read about the <a target="_blank" href="https://www.opensciencedatacloud.org/support/intro.html#osdc-resource-allocations" target="_blank">OSDC Resource Availability and the Allocation Process</a> or see the <a target="_blank" href="https://www.opensciencedatacloud.org/pre_apply/?next=/apply/" target="_blank">application for general OSDC resources</a>. &nbsp; For researchers applying to use the Bionimbus PDC, we have a separate <a target="_blank" href="https://bionimbus-pdc.opensciencedatacloud.org/pre_apply/?next=/apply/" target="_blank">Bionimbus PDC application</a>.
<br><br>

<table class="systems" border=0 cellpadding=0 cellspacing=0 width=625 style='border-collapse:
 collapse;table-layout:fixed;width:625pt'>
 <col width=119 style='mso-width-source:userset;mso-width-alt:5077;width:119pt'>
 <col width=168 style='mso-width-source:userset;mso-width-alt:7168;width:168pt'>
 <col width=345 style='mso-width-source:userset;mso-width-alt:14421;width:345pt'>
 <tr height=15 style='height:15.0pt'>
  <th height=15 class=xl78 width=119 style='height:15.0pt;width:119pt'>Name /
  Description</th>
  <th class=xl78 width=168 style='border-left:none;width:168pt'>General
  Quota</th>
  <th class=xl78 width=345 style='border-left:none;width:345pt'>Requirements</th>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl65 style='height:15.0pt;border-top:none'>Sullivan</td>
  <td class=xl65 width=168 style='width:168pt'>16 Cores / 1 TB</td>
  <td class=xl65 width=345 style='width:345pt'>General access to selected
  projects</td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl65 style='height:15.0pt;border-top:none'>Atwood</td>
  <td class=xl65 width=168 style='border-top:none;border-left:none;width:168pt'>16
  Cores / 1 TB</td>
  <td class=xl65 style='border-top:none;border-left:none'>Restricted Access</td>
 </tr>
<tr height=30 style='height:30.0pt'>
  <td height=30 class=xl69 style='height:30.0pt'>Bionimbus-PDC</td>
  <td class=xl69 width=168 style='border-top:none;border-left:none;width:168pt'>Allocations for labs and groups on a case by case basis</td>
  <td class=xl69 width=345 style='border-left:none;width:345pt'>Applicant needs an <a target="_blank" href="https://commons.era.nih.gov/">eRA Commons</a> account <br> and <a target="_blank" href="http://www.ncbi.nlm.nih.gov/projects/gap/cgi-bin/study.cgi?study_id=phs000178.v8.p7">dbGaP access to TCGA</a></td>
 </tr> 
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl65 style='height:15.0pt;border-top:none'>Skidmore</td>
  <td class=xl65 width=168 style='border-top:none;border-left:none;width:168pt'>Unlimited
  Compute/Storage</td>
  <td class=xl65 style='border-top:none;border-left:none'>Restricted Access</td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl65 style='height:15.0pt;border-top:none'>OCC-Y</td>
  <td class=xl65 width=168 style='border-top:none;border-left:none;width:168pt'>Unlimited
  Compute/Storage</td>
  <td class=xl65 style='border-top:none;border-left:none'>
OCC-Y Applicants must<br>
<ul><li>1) Be part of an institution that is an OCC Member</li>
<li>2) complete all special OCC-Y instructions on application page</li>
<li>3) pass ITAR screening</li></ul>
 </td>
 </tr>
</table>
<br>


<br>
<br>
