{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}PDC Application{% endblock %}

{% block header %}
<header class="subhead">
  <h1>Apply for a PDC Account</h1>
</header>
{% endblock %}

{% block main %}
<div class="span10">
<p>
Please fill out this form to apply for access to the Bionimbus Protected Data Cloud. Once your application is submitted, a member of our team will be in touch regarding your application as soon as possible.
</p>
<p>
To access the PDC, you must have an <a href="https://commons.era.nih.gov/">eRA Commons</a> account and <a href="http://www.ncbi.nlm.nih.gov/projects/gap/cgi-bin/study.cgi?study_id=phs000178.v8.p7">dbGaP access to TCGA</a>.
For more in-depth instructions on getting the right access credentials, please review the following <a href="/static/BionimbusAccessFAQ.pdf">FAQ.</a> If you have any questions about the application process, please contact us at <script type="text/javascript"> document.write('accounts' + '@' + 'opencloudconsortium.org') </script>. Thank you.
</p>
</div>
<div class="span12">
<form action="/apply/" method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
  <fieldset>

    <div class="control-group {% if form.eracommons.errors %}error{% endif %}">
      <label class="control-label" for="id_eracommans">eRA Commons Username*</label>
      <div class="controls">
        {{ form.eracommons }}
        {{ form.eppn.as_hidden }}
    	{{ form.method.as_hidden }}
    <span class="help-inline">{{form.eracommons.errors}}</span>
      </div>
    </div>

    <div class="control-group control-group-min {% if form.require_access.errors %}error{% endif %}">
      <label class="control-label" for="id_require_access">Access Requested*</label>
      <div class="controls">
      {{form.require_access}}
      </div>
      <div class="control-group extra_pubkey {% if form.pubkey.errors %}error{% endif %}">
        <label class="control-label" for="id_pubkey">SSH public key*</label>
        <div class="controls">
          <span class="text-block">
 Internal access to Bionimbus is only provided to pre-approved users.Please provide your public key for access. <a href="https://help.github.com/articles/generating-ssh-keys">Here is how to generate your pubkey</a>.
          </span>
          {{ form.pubkey }}
          <span class="help-inline">{{form.pubkey.errors}}</span>
        </div>
      </div>
    </div>


    <div class="control-group {% if form.first_name.errors %}error{% endif %}">
      <label class="control-label" for="id_first_name">First Name*</label>
      <div class="controls">
        {{ form.first_name }}
        <span class="help-inline">{{form.first_name.errors}}</span>
      </div>
    </div>

    <div class="control-group {% if form.last_name.errors %}error{% endif %}">
      <label class="control-label" for="id_last_name">Last Name*</label>
      <div class="controls">
        {{ form.last_name }}
        <span class="help-inline">{{form.last_name.errors}}</span>
      </div>
    </div>

    <div class="control-group {% if form.email.errors %}error{% endif %}">
      <label class="control-label" for="id_email">E-mail*</label>
      <div class="controls">
        {{ form.email }}
        <span class="help-inline">{{form.email.errors}}</span>
      </div>
    </div>

    <div class="control-group {% if form.organization.errors %}error{% endif %}">
      <label class="control-label" for="id_organization">Organization/University*</label>
      <div class="controls">
        {{ form.organization }}
        <span class="help-inline">{{form.organization.errors}}</span>
      </div>
    </div>

    <div class="control-group {% if form.status.errors %}error{% endif %}">
      <label class="control-label" for="id_status">Please select your status:*</label>
      <div class="controls">
        {{ form.status }}
        <span class="help-inline">{{form.status.errors}}</span>
      </div>
    </div>

    <div class="control-group {% if form.webpage.errors %}error{% endif %}">
      <label class="control-label" for="id_webpage">Web Page</label>
      <div class="controls">
        {{ form.webpage }}
        <span class="help-inline">{{form.webpage.errors}}</span>
      </div>
    </div>

    <div class="control-group {% if form.phonenumber.errors %}error{% endif %}">
      <label class="control-label" for="id_phonenumber">Phone Number</label>
      <div class="controls">
        {{ form.phonenumber }}
        <span class="help-inline">{{form.phonenumber.errors}}</span>
      </div>
    </div>

    <div class="control-group {% if form.address.errors %}error{% endif %}">
      <label class="control-label" for="id_address">Address</label>
      <div class="controls">
        {{ form.address }}
        <span class="help-inline">{{form.address.errors}}</span>
      </div>
    </div>

    <div class="control-group {% if form.projectname.errors %}error{% endif %}">
      <label class="control-label" for="id_projectname">Title for Your Research*</label>
      <div class="controls">
        {{ form.projectname }}
        <span class="help-inline">{{form.projectname.errors}}</span>
      </div>
    </div>

    <div class="control-group {% if form.projectlead.errors %}error{% endif %}">
      <label class="control-label" for="id_projectlead">Research Group Lead*</label>
      <div class="controls">
        {{ form.projectlead }}
        <span class="help-inline">{{form.projectlead.errors}}</span>
      </div>
    </div>

    <div class="control-group {% if form.projectlead_email.errors %}error{% endif %}">
      <label class="control-label" for="id_projectlead_email">Research Group Lead E-mail*</label>
      <div class="controls">
        {{ form.projectlead_email }}
        <span class="help-inline">{{form.projectlead_email.errors}}</span>
      </div>
    </div>

    <div class="control-group {% if form.projectdescr.errors %}error{% endif %}">
      <label class="control-label" for="id_projectdescr">Description of Your Research (500 words or less - Public Abstract)*</label>
      <div class="controls">
        {{ form.projectdescr }}
        <span class="help-inline">{{form.projectdescr.errors}}</span>
      </div>
    </div>

    <div class="control-group {% if form.sharing.errors %}error{% endif %}">
      <label class="control-label" for="id_sharing">Do you anticipate other new members of your group will need allocations</label>
      <div class="controls">
        {{ form.sharing }}
        <span class="help-inline">{{ form.sharing.errors }}</span>
      </div>
    </div>


    <div class="control-group cpus {% if form.cpus.errors %}error{% endif %}">
      <label class="control-label" for="id_cpus">Estimate of CPUs required*</label>
      <div class="controls">
        {{ form.cpus }}
        <span class="help-inline">{{ form.cpus.errors }}</span>
      </div>
    </div>

<!-- if requesting 16+, display below -->
    <div class="control-group extra_cpus {% if form.more_cpus.errors %}error{% endif %}">
      <label class="control-label" for="id_more_cpus">Please specify how many CPUs required*</label>
      <div class="controls">
        {{ form.more_cpus }}
        <span class="help-inline">{{ form.more_cpus.errors }}</span>
      </div>
    </div>
<!-- end if 16+-->

    <div class="control-group storage {% if form.storage.errors %}error{% endif %}">
     <label class="control-label" for="id_storage">Estimate of storage required*</label>
     <div class="controls">
       {{ form.storage }}
       <span class="help-inline">{{ form.storage.errors }}</span>
     </div>
    </div>

<!-- If requesting 1+, display below -->
    <div class="control-group extra_storage {% if form.more_storage.errors %}error{% endif %}">
      <label class="control-label" for="id_more_storage">Please specify how much storage required*</label>
      <div class="controls">
        {{ form.more_storage }}
        <span class="help-inline">{{ form.more_storage.errors }}</span>
      </div>
    </div>
<!-- end if 1+ -->
    <div class="control-group {% if form.datadescr.errors %}error{% endif %}">
      <label class="control-label" for="id_datadescr">Please give us a little more information on how data intensive this project is and how, specifically, it would benefit from the compute and storage requested above* </label>
      <div class="controls">
        {{ form.datadescr }}
        <span class="help-inline">{{ form.datadescr.errors }}</span>
      </div>
    </div>

    <div class="control-group {% if form.referral_source.errors %}error{% endif %}">
      <label class="control-label" for="id_referral_source">Specifically, How did you hear about the Bionimbus PDC?*</label>
      <div class="controls">
        {{ form.referral_source }}
        <span class="help-inline">{{ form.referral_source.errors }}</span>
      </div>
    </div>

    <div class="control-group {% if form.agreeform.errors %}error{% endif %}">
      <label class="control-label" for="id_agreeform">If my request for an PDC resource allocation is approved, I agree to*</label>
      <div class="controls">
        <ul style='list-style:inherit; padding-left:18px;'>
          <li>Make appropriate use of PDC resources and use good social behavior (ie - terminating VMs when not in use).</li>
          <li>Do not share ssh keys or login information - One user per resource allocation.</li>
          <li><a href="https://www.opensciencedatacloud.org/support/citation.html" target="_blank">Cite</a> the PDC in any papers and publications</li>
          <li>Regularly respond to quarterly PDC allocation surveys</li>
          <li><span>Submit tickets to the <a href="https://support.opensciencedatacloud.org/index.php?/Core/Default/Index" target="_blank">support ticketing system</a></span> when encountering technical issues not covered by the <a href="https://www.opensciencedatacloud.org/support/pdc.html" target="_blank">PDC support documentation</a></li>

        </ul>
        <p>{{ form.agreeform }}&nbsp; I agree to fulfill these expectations.&nbsp;</p>
        <span class="help-inline">{{ form.referral_source.errors }}</span>
      </div>
    </div>


    <div class="control-group">
      <div class="controls">
	<a href='#' id="submit-button" class="btn btn-warning">Submit Application</a>
      </div>
    </div>
  </fieldset>
</form>
</div>
{% endblock %}

{% block js %}

{% include "horizon/_scripts.html" %}
<script type="text/javascript">
function submitForm(){
    console.log("submitform");
    if ($("#id_require_access_1")[0].checked && $("#id_pubkey").prop("files").length<1){

        $(".extra_pubkey").addClass("error");
        console.log("error");
        return
    }
    else{
        $("form").submit();
    }

}
  $(document).ready(function() {
    $("#submit-button").click(submitForm);
    function true_toggle(selector, condition){
      if (condition) {
        $(selector).show();
      }
      else {
        $(selector).hide();
      }
    }

    $("#nav-apply").attr('class', 'active');
    $("#id_require_access_1").change(function() {
      true_toggle(".extra_pubkey", this.checked);
      true_toggle(".cpus",!this.checked);
      true_toggle(".storage",!this.checked);
    }).change();

    function displayMoreCPUs() {
      var cpus = $("#id_cpus").val();
      if (cpus == "16plus") {
        $(".extra_cpus").show();
      } else {
        $(".extra_cpus").hide();
      }
    }

    function displayMoreStorage() {
      var storage = $("#id_storage").val();
      if (storage == "1plus") {
        $(".extra_storage").show();
      } else {
        $(".extra_storage").hide();
      }
    }

    $("#id_cpus").change(displayMoreCPUs);
    $("#id_storage").change(displayMoreStorage);
    displayMoreCPUs();
    displayMoreStorage();

});

</script>
{% endblock %}
