{% extends 'base.html' %}
{% load i18n %}
{% block title %} Amazon S3 {% endblock %}
{% block css %}
    <link href='{{ STATIC_URL }}dashboard/css/amazon_s3.css' type='text/css' media='screen' rel='stylesheet' />
{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Amazon_s3") %}
{% endblock %}
{% block main %}
<div class="s3-wrapper">
<div class="amazon-info" style="display: {%if userArn%} block{%else%} none {%endif%}">
    <div class="title"> You are granted S3 bucket permission with following user:
    </div>
    <div class="user-arn"> 
    {% if userArn %}
        {{userArn}} 
    {% endif %}
    </div>
    <a href="#" class= "show-form"> Change to another amazon user </a>
</div>
{% if not userArn %}
<div class = "request-title">
    Request permission to S3 bucket by supplying following information:
</div>
{% endif %}
<form class="s3-request" method="post" action = "grantPermission"
 {% if userArn %} style="opacity:0;margin-top:-12em"{%endif%}>
    <div class="list">
        <p class="form-label">access key id: </p>
        <input type="text" name="accessKeyId">
    </div>
    <div class="list">
        <p class="form-label">secrete access key:  </p>
        <input type="password" name="secreteAccessKey">
    </div>
    <div class="list">
        <p class="error-log"></p>
        <a class = "label submit_S3_request" href="#">submit</a>
    </div>
{% csrf_token %}
</form>

</div>
{% endblock %}


{% block additionalJs %}
<script id = "s3-request" type="text/javascript">
$(".submit_S3_request").click(function(){
    $.ajax({
        type: "POST",
        url: "grantPermission", 
        data: $(".s3-request").serialize(),
        success: function(msg){
            console.log(msg);
            console.log(msg.success);
            if (msg.success == "False"){
                $(".list").find(".error-log").text(msg.error);
            }
            else{
                $(".amazon-info").css("display","block");
                $(".request-title").css("display","none");
                $(".s3-request").css({"opacity":"0", "margin-top":"-12em"});
                $(".user-arn").text(msg.userArn);
            }
        },
        error:function(msg){
            console.log("fail");
            console.log(msg);
        }
    });
});
       // $(".s3-request").submit();

$(".show-form").click(function(){
    $(".s3-request").css({"opacity":"1", "margin-top":"1.5em"});
});
</script>
{% endblock %}
