<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
	  <li id="nav-overview">
	    <a href="http://www.opensciencedatacloud.org/" id="nav-overview-a"><img src="{{ STATIC_URL }}/osdc_logo_gray_sm.png" alt="Open Science Data Cloud"></a>
	  </li>
	  <li id="nav-console">
	    <a href="http://console.opensciencedatacloud.org/nova">Console</a>
	  </li>
	  <li id="nav-apply">
	    <a href="http://www.opensciencedatacloud.org/apply">Apply</a>
	  </li>
          <li id="nav-publicdata">
            <a href="http://www.opensciencedatacloud.org/publicdata">Public Data</a>
	  </li>
	  <li id="nav-status">
	    <a href="http://www.opensciencedatacloud.org/status">Status</a>
          </li>
	  <li id="nav-projects">
            <a href="http://www.opensciencedatacloud.org/projects">Projects</a>
          </li>
	  <li id="nav-support">
	    <a href="http://www.opensciencedatacloud.org/support">Support</a>
	  </li>
	  <li id="nav-news">
	    <a href="http://www.opensciencedatacloud.org/news">News / PIRE</a>
	  </li>
	</ul>
      </div>
    </div>
  </div>
</div>
