<!DOCTYPE html>
{% load branding i18n %}
<html>
<head>
{% include "horizon/_conf.html" %}
{% include "horizon/_scripts.html" %}
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    {% include "horizon/_conf.html" %}
    {% block css %}
    {% include "_stylesheets.html" %}
    {% endblock %}
    {% include "horizon/client_side/_script_loader.html" %}

{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/osdc.css">
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/cartridge.css">
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script>
$(function() {
    $('.middleinput:text, textarea').addClass('xlarge');
    $('.control-group label').addClass('control-label');
});
</script>
{% block extra_js %}{% endblock %}
{% endcompress %}
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}body{% endblock %}">

<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <a class="brand" href="http://www.opensciencedatacloud.org">Open Science Data Cloud</a>
    <div class="nav-collapse collapse">
           <ul class="nav">
	     <li id="nav-overview">
	       <a href="/">About</a>
	     </li>
	     <li id="nav-console">
	       <a href="http://console.opensciencedatacloud.org">Console</a>
		 </li>
              <li id="nav-publicdata">
                <a href="/publicdata">Public Data</a>
		</li>
	      <li id="nav-status">
		<a href="/status">Status</a>
              </li>
	      <li id="nav-support">
		<a href="/support">Support</a>
	      </li>
	      <li id="nav-files">
                <a href="http://www.opensciencedatacloud.org/files">Files</a>
              </li>
	   </ul>
          </div>
</div>
</div>
</div>

<div class="container">

{% nevercache %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" data-alert="alert">
<a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
</div>
{% endfor %}
{% endnevercache %}

{% block header %}{% endblock %}

</div>

<div class="container">

  {% block main %}{% endblock %}

</div>


<div class="modal-footer">
  <div class="container">
    {% trans "The OSDC is a resource of the " %}
    <a href="http://opencloudconsortium.org/">Open Cloud Consortium</a>
    </div>
</div>


</body>
</html>
