{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Pipelines" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Pipelines") %}
{% endblock page_header %}

{% block main %}


<form enctype="multipart/form-data" action="" method="post" class="form-horizontal container-fluid">{% csrf_token %}

    {% for field in form %}
        {% if field.name == "config_file" %}
            <label for="{{ field.name }}">{{ field.label }} </label>
            <div class="hidden row-fluid" id="config_file_template">
                {{ field }}
                <span class="help-inline"> {{field.help_text}}</span>
                <a class="btn btn-danger btn-mini removeParent" id="removeParent">&times;</a>
            </div>
            <div id="more_files"> </div>
            <a class="btn btn-small include addFile">Add Config File</a>
        {% else %}
            <div class="row-fluid">
                <label for="{{ field.name }}">{{ field.label }} </label>
                {{ field }}
                <span class="help-inline"> {{field.help_text}}</span>
            </div>
        {% endif %}
    {% endfor %}

<input type="submit" value="Submit" class="btn-primary" />
</form>

{{ result }}

{% endblock %}


{% block js %}

{% include "horizon/_scripts.html" %}
<script type="text/javascript">
  $(document).ready(function() {
        //put the stuff here
    var conf = 0;
    $(".addFile").live('click', function() {
        var template = $("#config_file_template").clone().removeClass("hidden");
        var new_name = "config_file" + conf++;
        template.children("#id_config_file").attr("id", new_name).attr("name", new_name);
        template.appendTo("#more_files");
    });

    $(".removeParent").live('click', function() {
        $(this).parent().remove();
    });

  });
</script>
{% endblock %}
