{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}OSDC Application{% endblock %}

{% block header %}
<header class="jumbotron subhead">
  <h1>Log In to eRA Commons</h1>
</header>
{% endblock %}

{% block main %}
<div class="span10">
<p>
    To access the PDC, you must have an <a href="https://commons.era.nih.gov/">eRA Commons</a> account and <a href="http://www.ncbi.nlm.nih.gov/projects/gap/cgi-bin/study.cgi?study_id=phs000178.v8.p7">dbGaP access to TCGA</a>.
    For more in-depth instructions on getting the right access credentials, please review the following <a href="/static/BionimbusAccessFAQ.pdf">FAQ.</a>
    If you have any questions about the application process, please contact us at <SCRIPT TYPE="text/javascript"> document.write('accounts' + '@' + 'opencloudconsortium.org') </SCRIPT>.
    Thank you.
    If you are seeking "download only" access to the IGCG data, please review this <a target="__blank" href='/static/ICGC_PDC_Access_FAQ.pdf'>FAQ</a> and apply once credentials are in order.
</p>
<p>
    <a class="btn btn-primary" href="https://itrusteauth.nih.gov/affwebservices/public/saml2sso?SPID=https://bionimbus-pdc.opensciencedatacloud.org/shibboleth">Sign in to eRA Commons</a>
</p>
</div>
{% endblock %}

{% block js %}

{% include "horizon/_scripts.html" %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#nav-apply").attr('class', 'active');
});
</script>
{% endblock %}
