{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}OSDC Application{% endblock %}

{% block header %}
<header class="jumbotron subhead">
  <h1>Log In to an Identity Provider</h1>
</header>
{% endblock %}

{% block main %}
<div class="span10">
<p>
  The OSDC console uses federated login for authentication.
  If you are at an academic institution that supports
  <a href="https://incommon.org/participants/">InCommon</a>,
  <a href="http://www.canarie.ca/en/caf/participants">CANARIE</a>,
  or 
  the <a href="http://www.ukfederation.org.uk/content/Documents/MemberList">UK Federation</a>
  we recommend using those credentials.
  If your institution is a member of one of those federations, but not in the dropdown menu below, contact us at
  <a href="mailto:accounts@opencloudconsortium.org">accounts@opencloudconsortium.org</a>.
  and we'll work with you to get your organization to release the appropriate attributes.
</p>
<p>
  We also support Gmail and Yahoo logins, but only for approved projects and only when all other authentication options have been exhausted.
</p>
  <div class="modal-header">
    <h3>{% trans "Select your Organization or Institution:" %}</h3>
  </div>
  <div class="modal-body clearfix">
    {% include 'osdc/shibboleth_openid.html' %}
  </div>
</div>
{% endblock %}

{% block js %}

{% include "horizon/_scripts.html" %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#nav-apply").attr('class', 'active');
});
</script>
{% endblock %}
